.what {
	left: 40px;
	top: 10px;
}
.do {
	left: 450px;
	bottom: 69px;
}
.owner {
	left: 860px;
	bottom: 137px;
}
.icon {
	left: 100px;
	top: 10px;
	border-radius: 290486px;
}
.roblox {
	left: 405px;
	bottom: 50px;
	border-radius: 290486px;
}
.genericnerd {
	left: 666px;
	bottom: 110px;
	border-radius: 290486px;
}